<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>
            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>
        {{>footer}}
        <script type="text/javascript" src="/js/app.js"></script>
    </body>
</html>